<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Equivalences</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/foundation")
    @Scripts.Render("~/Scripts")

    <link href="@Url.Content("~/Content/Study-Filter.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/categories-menu.js")"></script>
    @*<link href="@Url.Content("~/Content/foundation/foundation.css")" rel="stylesheet" type="text/css" />*@

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">      
        <div class="container" style="border:solid; border-width:thin; padding:5px; width:100%">
            <div class="navbar-collapse collapse">
                <button style="width:49.5%" onclick="location.href='@Url.Action("List", "Home")';return false;"><h5>Display Items</h5></button>
                <button style="width:49.5%" onclick="location.href='@Url.Action("Index", "Equivalence")';return false;"><h5>Select Question or Variable Equivalences from Sweeps</h5></button>
            </div>
        </div>
    </div>
    <div class="container body-content" style="margin-top:10px; font-size:12px; width:100%">
        @RenderBody()
     </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/prettify")
    @RenderSection("scripts", required: false)
</body>
</html>
