@model ColecticaSdkMvc.Models.ItemModel

@{
    Layout = "~/Views/Shared/_Item.cshtml";
    ViewBag.Title = "Item";
    <link href="@Url.Content("~/Content/Responsive-Card-Table.css")" rel="stylesheet" type="text/css" />
}

@*<h2>@Model.StudyUnit.DublinCoreMetadata.Title.Current</h2>*@

<h3>Referencing Items</h3>
@if (Model.ReferencingItems.Count == 0)
{
    <p>No items in this study.</p>
}
else
{
    <table class="responsive-card-table unstriped" style="width:100%">
        <thead>
            <tr>
                <th style = "font-size:medium" align="left">Agency Id</th>
                <th style = "font-size:medium" align="left">Identifier</th>
                <th style = "font-size:medium" align="left">DisplayLabel</th>
                <th style = "font-size:medium" align="left">Question</th>
                <th style = "font-size:medium" align="left">ItemType</th>
                <th style = "font-size:medium" align="left"></th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ReferencingItems)
            {
            <tr>
                <td style = "font-size:medium" >@item.AgencyId</td>
                <td style = "font-size:medium" >@item.Identifier</td>
                <td style = "font-size:medium" >@item.DisplayLabel</td>
                <td style = "font-size:medium" >@item.Summary.FirstOrDefault().Value</td>
                <td style = "font-size:medium" >@item.ItemType</td>
                <td>
                    <button onclick="location.href='@Url.Action("Index", "Item", new { agency = @item.AgencyId, id = item.Identifier })';return false;">Items</button>
                </td>
                <th>@item.IsDeprecated</th>
            </tr>
            }
        </tbody>
    </table>
}
