@using ColecticaSdkMvc.Models;
@using System.Collections.Generic;
@using Newtonsoft.Json;
@model ColecticaSdkMvc.Models.EquivalenceModel
@{
    /**/

    ViewBag.Title = "Display";
    Layout = "~/Views/Shared/_Layout.cshtml";
    TempData.Keep("EquivalenceModel");
}



<style type="text/css">
    ul {
        list-style-type: none;
    }
</style>

<style>
    .tooltip {
        position: relative;
        display: inline-block;
        border-bottom: 1px dotted black;
    }

        .tooltip .tooltiptext {
            visibility: hidden;
            width: 120px;
            background-color: black;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px 0;
            /* Position the tooltip */
            position: absolute;
            z-index: 1;
        }

        .tooltip:hover .tooltiptext {
            visibility: visible;
        }
</style>

<script>
     function outputCSVClicked(csvdata) {
        var url = '@Url.Action("OutputCSV", "Equivalence")';
        $.post(url, csvdata, function (view) {
            JSONtoCSVConvertor(view, "Display.csv", true);
        });
    }

    function JSONtoCSVConvertor(JSONData, ReportTitle, ShowLabel) {
        //If JSONData is not an object then JSON.parse will parse the JSON string in an Object
        var arrData = typeof JSONData != 'object' ? JSON.parse(JSONData) : JSONData;
        var CSV = '';

        //1st loop is to extract each row
        for (var i = 0; i < arrData.length; i++) {
            var row = "";
            //2nd loop will extract each column and convert it in string comma-seprated
            for (var index in arrData[i]) {
                //row += '"' + arrData[i][index] + '",';
                row += arrData[i][index];
                //alert("row2 "+row)
            }
            row.slice(0, row.length - 1);
            //add a line break after each row
            CSV += row;
        }
        if (CSV == '') {
            alert("Invalid data");
            return;
        }


        //this trick will generate a temp "a" tag
        var link = document.createElement("a");
        link.id = "lnkDwnldLnk";

        //this part will append the anchor tag and remove it after automatic click
        document.body.appendChild(link);

        var csv = CSV;
        blob = new Blob([csv], { type: 'text/csv' });
        var csvUrl = window.webkitURL.createObjectURL(blob);
        var filename = 'Display.csv';
        $("#lnkDwnldLnk")
            .attr({
                'download': filename,
                'href': csvUrl
            });

        $('#lnkDwnldLnk')[0].click();
        document.body.removeChild(link);

    }
</script>

<div style="margin-bottom:10px; width:100%">
    <h3>Display - Equivalences @Model.Elapsed</h3>

</div>


@using (Html.BeginForm("Display", "Equivalence", new { studyName = Model.StudyName, fileName = Model.FileName }, FormMethod.Post, new { id = "myForm", enctype = "multipart/form-data" }))
{
    int itemCount = 0;
    int currentItem = 0;
    int currentCounter = 0;

    <div style="border: 1px solid black; padding-top:10px; margin-bottom:10px; height:40px; width:100%">
        @Html.Label("Concepts :  ", new { style = "margin-left:20px" })
        @Html.DropDownListFor(model => model.selectedconcept, Model.concepts, "All Concepts", new { style = "width:98%, margin-left:20px", onchange = @"form.submit();" })
    </div>

    if (Model.SelectedStudies != null)
    {
        if (Model.SelectedStudies.Count != 0)
        {
            for (int i = 0; i < Model.SelectedStudies.Count(); i++)
            {
                @Html.TextBoxFor(modelItem => Model.SelectedStudies[i], new { style = "width:98%", @type = "hidden" })
            }
        }
    }

    if (Model.AllItems.Count() != 0)
    {
        for (int i = 0; i < Model.AllItems.Count(); i++)
        {
            @Html.TextBoxFor(modelItem => Model.AllItems[i].uniqueId, new { style = "width:98%", @type = "hidden" })
            @Html.TextBoxFor(modelItem => Model.AllItems[i].equivalence, new { style = "width:98%", @type = "hidden" })
            @Html.TextBoxFor(modelItem => Model.AllItems[i].name, new { style = "width:98%", @type = "hidden" })
            @Html.TextBoxFor(modelItem => Model.AllItems[i].description, new { style = "width:98%", @type = "hidden" })
            @Html.TextBoxFor(modelItem => Model.AllItems[i].variableName, new { style = "width:98%", @type = "hidden" })
            @Html.TextBoxFor(modelItem => Model.AllItems[i].variableText, new { style = "width:98%", @type = "hidden" })
            @Html.TextBoxFor(modelItem => Model.AllItems[i].variableItem, new { style = "width:98%", @type = "hidden" })
            @Html.TextBoxFor(modelItem => Model.AllItems[i].variableIdentifier, new { style = "width:98%", @type = "hidden" })
            @Html.TextBoxFor(modelItem => Model.AllItems[i].variableAgency, new { style = "width:98%", @type = "hidden" })
            @Html.TextBoxFor(modelItem => Model.AllItems[i].questionName, new { style = "width:98%", @type = "hidden" })
            @Html.TextBoxFor(modelItem => Model.AllItems[i].questionText, new { style = "width:98%", @type = "hidden" })
            @Html.TextBoxFor(modelItem => Model.AllItems[i].questionItem, new { style = "width:98%", @type = "hidden" })
            @Html.TextBoxFor(modelItem => Model.AllItems[i].questionIdentifier, new { style = "width:98%", @type = "hidden" })
            @Html.TextBoxFor(modelItem => Model.AllItems[i].questionconceptitem, new { style = "width:98%", @type = "hidden" })
            @Html.TextBoxFor(modelItem => Model.AllItems[i].studyGroup, new { style = "width:97%", @type = "hidden" })
            @Html.TextBoxFor(modelItem => Model.AllItems[i].study, new { style = "width:98%", @type = "hidden" })
            @Html.TextBoxFor(modelItem => Model.AllItems[i].dataset, new { style = "width:98%", @type = "hidden" })
            @Html.TextBoxFor(modelItem => Model.AllItems[i].concept, new { style = "width:98%", @type = "hidden" })
            @Html.TextBoxFor(modelItem => Model.AllItems[i].column, new { style = "width:98%", @type = "hidden" })
            @Html.TextBoxFor(modelItem => Model.AllItems[i].set, new { style = "width:98%", @type = "hidden" })
            @Html.TextBoxFor(modelItem => Model.AllItems[i].questionOrdered, new { style = "width:98%", @type = "hidden" })
            @Html.TextBoxFor(modelItem => Model.AllItems[i].variableOrdered, new { style = "width:98%", @type = "hidden" })

        }
    }

    if (@Model.AllResults != null)
    {
        for (int i = 0; i < Model.AllResults.Count(); i++)
        {
            @Html.TextBoxFor(modelItem => Model.AllResults[i].uniqueId, new { style = "width:98%", @type = "hidden" })
            @Html.TextBoxFor(modelItem => Model.AllResults[i].equivalence, new { style = "width:98%", @type = "hidden" })
            @Html.TextBoxFor(modelItem => Model.AllResults[i].name, new { style = "width:98%", @type = "hidden" })
            @Html.TextBoxFor(modelItem => Model.AllResults[i].description, new { style = "width:98%", @type = "hidden" })
            @Html.TextBoxFor(modelItem => Model.AllResults[i].variableName, new { style = "width:98%", @type = "hidden" })
            @Html.TextBoxFor(modelItem => Model.AllResults[i].variableText, new { style = "width:98%", @type = "hidden" })
            @Html.TextBoxFor(modelItem => Model.AllResults[i].variableItem, new { style = "width:98%", @type = "hidden" })
            @Html.TextBoxFor(modelItem => Model.AllResults[i].variableIdentifier, new { style = "width:98%", @type = "hidden" })
            @Html.TextBoxFor(modelItem => Model.AllResults[i].variableAgency, new { style = "width:98%", @type = "hidden" })
            @Html.TextBoxFor(modelItem => Model.AllResults[i].questionName, new { style = "width:98%", @type = "hidden" })
            @Html.TextBoxFor(modelItem => Model.AllResults[i].questionText, new { style = "width:98%", @type = "hidden" })
            @Html.TextBoxFor(modelItem => Model.AllResults[i].questionItem, new { style = "width:98%", @type = "hidden" })
            @Html.TextBoxFor(modelItem => Model.AllResults[i].questionIdentifier, new { style = "width:98%", @type = "hidden" })
            @Html.TextBoxFor(modelItem => Model.AllResults[i].questionconceptitem, new { style = "width:98%", @type = "hidden" })
            @Html.TextBoxFor(modelItem => Model.AllResults[i].studyGroup, new { style = "width:97%", @type = "hidden" })
            @Html.TextBoxFor(modelItem => Model.AllResults[i].study, new { style = "width:98%", @type = "hidden" })
            @Html.TextBoxFor(modelItem => Model.AllResults[i].dataset, new { style = "width:98%", @type = "hidden" })
            @Html.TextBoxFor(modelItem => Model.AllResults[i].concept, new { style = "width:98%", @type = "hidden" })
            @Html.TextBoxFor(modelItem => Model.AllResults[i].concepts, new { style = "width:98%", @type = "hidden" })
            @Html.TextBoxFor(modelItem => Model.AllResults[i].column, new { style = "width:98%", @type = "hidden" })
            @Html.TextBoxFor(modelItem => Model.AllResults[i].selectconcept, new { style = "width:98%", @type = "hidden" })
        }
    }

    if (Model.Datasets != null)
    {
        if (Model.Datasets.Count != 0)
        {
            for (int i = 0; i < Model.Datasets.Count(); i++)
            {
                @Html.TextBoxFor(modelItem => Model.Datasets[i].ID, new { style = "width:98%", @type = "hidden" })
                @Html.TextBoxFor(modelItem => Model.Datasets[i].StudyName, new { style = "width:98%", @type = "hidden" })
                @Html.TextBoxFor(modelItem => Model.Datasets[i].Value, new { style = "width:98%", @type = "hidden" })
            }

        }
    }
    <input type="hidden" style="width:100%" value="@ViewBag.selectedItems" name="selectedItems" id="selectedItems" />
    <input type="hidden" style="width:100%" value="@ViewBag.selectedItems" name="originalItems" id="originalItems" />

    @Html.HiddenFor(x => x.EquivalenceSelection, new { style = "margin-top:10px; width:100%; font-size:small", @value = "@model.EquivalanceSelection" })
    @Html.HiddenFor(x => x.FileName)
    @Html.HiddenFor(x => x.Type)
    @Html.HiddenFor(x => x.StudyName)
    if (Model.AllResults.Count() != 0)
    {
        <div style="overflow:scroll; width:100%;height:80vh">
            <div style="border: 1px solid black; padding-top:10px; width:130%">
                <table border="0" style="margin-left:10px">
                    <thead>
                        <tr>
                            <th align="left" style="width:40px">ID</th>
                            <th align="left" style="width:120px">Search Term</th>
                            <th align="left" style="width:40px"></th>
                            <th align="left" style="width:150px">Question Name</th>
                            <th align="left" style="width:600px">Question Text</th>
                            <th align="left" style="width:150px">Variable Name</th>
                            <th align="left" style="width:300px">Variable Text</th>
                            <th align="left" style="width:100px">Agency</th>
                            <th align="left" style="width:16%">Study</th>
                            <th align="left" style="width:10%">Concept</th>
                            <th align="left" style="width:10%">Dataset</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.AllResults.Count(); i++)
                        {
                            if (Model.AllResults[i].selectconcept == true)
                            {                           
                                itemCount++;
                                currentCounter++;
                                if (itemCount == 1) { currentItem = Model.AllResults[i].uniqueId; }
                                if (Model.AllResults[i].uniqueId != currentItem)
                                {
                                    currentItem = Model.AllResults[i].uniqueId;
                                    currentCounter = 1;
                                    @Html.Raw("</tbody></table></div><div style=\"border: 1px solid black; margin-top:5px; width:130%\"><table border=\"0\" style=\"margin-left:10px\">");
                                    @Html.Raw("<thead><tr>")
                                    @Html.Raw("<th align=\"left\" style=\"width:40px\">ID</th>")
                                    @Html.Raw("<th align=\"left\" style=\"width:120px\">Search Term</th>")
                                    @Html.Raw("<th align=\"left\" style=\"width:40px\"></th>")
                                    @Html.Raw("<th align=\"left\" style=\"width:150px\">Question Name</th>")
                                    @Html.Raw("<th align=\"left\" style=\"width:600px\">Question Text</th>")
                                    @Html.Raw("<th align=\"left\" style=\"width:150px\">Variable Name</th>")
                                    @Html.Raw("<th align=\"left\" style=\"width:300px\">Variable Text</th>")
                                    @Html.Raw("<th align=\"left\" style=\"width:100px\">Agency</th>")
                                    @Html.Raw("<th align=\"left\" style=\"width:16%\">Study</th>")
                                    @Html.Raw("<th align=\"left\" style=\"width:10%\">Concept</th>")
                                    @Html.Raw("<th align=\"left\" style=\"width:10%\">Dataset</th>")
                                    @Html.Raw("</tr></thead><tbody>")

                                }
                                <tr>
                                    <td style="width:40px">
                                        @if (currentCounter == 1)
                                        {
                                            @Html.DisplayFor(modelItem => Model.AllResults[i].uniqueId, new { style = "width:98%" })
                                        }
                                    </td>
                                    <td valign="top" align="left" style="width:120px; margin-top:0">
                                        @if (currentCounter == 1)
                                        {
                                            @Html.DisplayFor(modelItem => Model.AllResults[i].equivalence, new { style = "width:98%" })
                                        }
                                    </td>
                                    <td valign="top" style="width:40px; margin-top:0">
                                        @Html.CheckBoxFor(modelItem => Model.AllResults[i].selected, new { style = "width:98%", IsEnabled = "{Binding Model.Authenticated}" })
                                    </td>
                                    <td align="left" style="width:150px">
                                        @Html.DisplayFor(modelItem => Model.AllResults[i].questionName, new { style = "width:98%" })
                                    </td>
                                    <td valign="top" style="width:600px; margin-top:0">
                                        @Html.DisplayFor(modelItem => Model.AllResults[i].questionText, new { style = "width:95%" })
                                    </td>
                                    <td align="left" style="width:150px">
                                        @Html.DisplayFor(modelItem => Model.AllResults[i].variableName, new { style = "width:98%" })
                                    </td>
                                    <td align="left" style="width:300px; margin-top:0">
                                        @Html.DisplayFor(modelItem => Model.AllResults[i].variableText, new { style = "width:95%" })
                                    </td>
                                    <td valign="top" align="left" style="width:100px; margin-top:0">
                                        @Html.DisplayFor(modelItem => Model.AllResults[i].study, new { style = "width:95%" })
                                    </td>
                                    <td align="left" style="width:16%; margin-top:0">
                                        @Html.DisplayFor(modelItem => Model.AllResults[i].studyGroup, new { style = "width:98%" })
                                    </td>
                                    <td valign="top" align="left" style="width:10%; margin-top:0">
                                        @Html.DisplayFor(modelItem => Model.AllResults[i].concept, new { style = "width:98%" })
                                    </td>
                                    <td valign="top" align="left" style="width:10%; margin-top:0">
                                        @Html.DisplayFor(modelItem => Model.AllResults[i].dataset, new { style = "width:98%" })
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }

    <div style="width:100%">
        @{var serializer = new System.Web.Script.Serialization.JavaScriptSerializer();}
        @{ serializer.MaxJsonLength = Int32.MaxValue;}
        <button type="button" onclick="outputCSVClicked('@serializer.Serialize(Model.AllResults)')" ; style="float:left; font-size:small; margin:10px">Output CSV</button>
        <input name="command" type="submit" value="Next" id="next" , style="float:right; font-size:small; margin:10px" />
        <input name="command" type="submit" value="Previous" id="previous" , style="float:right; font-size:small; margin:10px" />
    </div>

}

